

.body {
  background-color: #F5F5F5;
  font-size: 14px;
  font-family: roboto;
  color: #212121;
}

.hero {
  background-color: #2F303A;
}

.title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
}

.logo {
  font-style: Bold;
  font-size: 26px;
  color: #2196F3;
  text-decoration: none;
  font-family: raleway;
  line-height: 1.19;
}

.logo-header {
  color: #000000;
  font-family: raleway;
  line-height: 1.19;
}

.list-nav {
  font-weight: 500;
  line-height: 1.14;
}
.link-nav:hover, .link-nav:focus {
  color: #2196F3;
}
.link-nav {
  text-decoration: none;
  color: #212121;
}

.list-nav, .list-item, .list, .contacts-list, .btn-list {
  list-style: none;
  font-style: normal;
}

.link-contact:hover, .link-contact:focus {
  color: #2196F3;
}
.link-contact {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(16/14);
  text-decoration: none;
  color: #757575;
}

.btn-hero {
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  cursor: pointer;
  Letter spacing: 6%
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
}

.desk {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: #F5F4FA
}

.team-list {
  background-color: #FFFFFF;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-position {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.footer {
  background-color: #2F303A;
}

.logo-accent {
  color: #FFFFFF;
  font-family: raleway;
  line-height: 1.19;
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24/14);
  text-decoration: none;
  color: #FFFFFF;
  

}
.contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24/14);
  text-decoration: none;
  color: #757575;
}

/* Portfolio Buttons */

.btn-filter {
  font-family: roboto;
  background-color: #F5F4FA;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(26/16);
  text-align: center;
  cursor: pointer;
  border: none;
}

.btn-filter:hover, 
.btn-filter:focus {
color: #FFFFFF;
background-color: #2196F3;
}