/* Основной цвет фона F5F5F5 */
/* Вторичный цвет фона 2F303A */
/* Основной цвет текста 212121 */
/* вторичный цвет текста 757575 */
/* доп.цвета лого,хедер голубой:2196F3, черный:000000 */
/* цвет кнопок 2196F3 */
/* цвет кнопок портфолио неакт F5F4FA */


.logo {
  font-family: var(--logo-font);
  color: var(--link-active);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}