.body {
  background-color: #f5f5f5;
  font-size: 14px;
  font-family: roboto;
  color: #212121;
}

.hero {
  background-color: #2f303a;
}

.title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
}

.logo {
  font-style: Bold;
  font-size: 26px;
  font-weight: 400;
  color: #2196f3;
  text-decoration: none;
  font-family: raleway;
  line-height: 1.19;
}

.logo-header {
  color: #000000;
  font-family: raleway;
  font-weight: 400;
  line-height: 1.19;
}

.list-nav {
  font-weight: 500;
  line-height: 1.14;
}
.link-nav:hover,
.link-nav:focus {
  color: #2196f3;
}
.link-nav {
  text-decoration: none;
  color: #212121;
}

.list-nav,
.list-item,
.list,
.contacts-list,
.btn-list,
.work-list {
  list-style: none;
  font-style: normal;
}

.link-contact:hover,
.link-contact:focus {
  color: #2196f3;
}
.link-contact {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  text-decoration: none;
  color: #757575;
}

.btn-hero {
  font-family: inherit;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  cursor: pointer;
  letter-spacing: 6%;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
}

.desk {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  background-color: #ffffff;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-position {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.footer {
  background-color: #2f303a;
}

.logo-accent {
  color: #ffffff;
  font-family: raleway;
  line-height: calc(31 / 26);
}

.address {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24 / 14);
  text-decoration: none;
  color: #ffffff;
}
.contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24 / 14);
  text-decoration: none;
  color: #757575;
}

/* Portfolio Buttons */

.btn-filter {
  font-family: inherit;
  background-color: #f5f4fa;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(26 / 16);
  text-align: center;
  cursor: pointer;
  border: none;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.project-name {
  font-style: bold;
  font-size: 18px;
  font-weight: 700;
  line-height: calc(36 / 18);
}

.work-type {
  color: #757575;
  font-style: regular;
  font-size: 16px;
  line-height: calc(30 / 16);
}
